/* conversa.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#mensagens-container {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

#mensagens-container {
    max-height: 400px; /* Ajuste conforme necessário ou remova para altura ilimitada */
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

textarea {
    height: 100px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
